<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OpenNest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="OpenNest.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <OpenNest.Properties.Settings>
      <setting name="MainWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PlateViewDrawRapid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlateViewDrawBounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateNewNestOnOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSizePlateFactor" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="NestNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultUnit" serializeAs="String">
        <value>Inches</value>
      </setting>
      <setting name="SplitterDistance" serializeAs="String">
        <value>275</value>
      </setting>
      <setting name="LastNestCreatedDate" serializeAs="String">
        <value>04/08/2015 19:30:00</value>
      </setting>
      <setting name="NestTemplatePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastFeedrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastRapidFeedrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastPierceTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CuttingParametersJson" serializeAs="String">
        <value/>
      </setting>
    </OpenNest.Properties.Settings>
    <OpenNest.Resources.Settings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </OpenNest.Resources.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
